@model TeacherBookApi.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronomicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronomicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFormTimeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFormTimeNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGroupNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGroupNavigation.IdGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfessionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfessionNavigation.IdProfession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdYearAddNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdYearAddNavigation.IdYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdStudent">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
