@model IEnumerable<TeacherBookApi.Models.TeacherHasSubject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSubjectNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTeacherNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSubjectNavigation.IdSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTeacherNavigation.IdTeacher)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTd">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
