@model TeacherBookApi.Models.Journal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Journal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evaluation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGroupNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGroupNavigation.IdGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStudentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStudentNavigation.IdStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSubjectNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSubjectNavigation.IdSubject)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdJournal">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
